---
import {Image} from "astro:assets";
const { imgSrc, name, intro } = Astro.props;
---

<div class="px-10 py-5 md:px-20 md:py-10">
  <Image
    src={imgSrc}
    alt={name}
    class="mx-auto mb-4 sm:mb-6 lg:mb-8 w-40 sm:w-72"
  />
  <h3
    class="text-gray-700 text-center text-3xl lg:text-5xl font-script mb-4 sm:mb-6 lg:mb-8"
  >
    {name}
  </h3>
  <div class="max-w-lg m-auto">
    <p class="text-gray-700 text-center font-lora">{intro}</p>
  </div>
</div>
